body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    color: #2D2D2D;
    line-height: 1.6;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    color: #004E64;
    margin: 0;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00A5CF;
    color: #FFF;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

#container div {
    flex: 1;
}

#container img {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    object-fit: cover;
}
#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

#navbar a {
    color: #004E64;
    text-decoration: none;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: none;
}

#navbar a:hover {
    color: #FFF;
    background-color: #FF5722;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

#navbar a:active {
    background-color: #FF3D00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}
section {
    padding: px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #004f;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
#contact:h2 {
    color: #004E64;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

ul li {
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul li a {
    color: #00A5CF;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    color: #FF5722;
}

#Projects, #skills, #contact {
    background-color: #f5f5f5;
    margin: 50px 0;
}

#Projects div {
    background: #00A5CF;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#skills div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#skills div img {
    width: 80px;
    height: 80px;
}

#contact {
    background: #004E64;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #004E64;
    color: white;
    margin-top: 100px;
}
